apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: 416225317325.dkr.ecr.us-east-2.amazonaws.com/mp-backend:latest
          ports:
            - containerPort: 8080
