apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: backend-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: backend
  minReplicas: 2              # 최소 파드 개수
  maxReplicas: 10             # 최대 파드 개수
  targetCPUUtilizationPercentage: 50 # CPU가 50% 넘으면 확장